body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    grid-gap: 10px;
    width: 90%;
    max-width: 550px;
}

.card {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.card.flipped {
    background-color: #fff;
}

#restart-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}